* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --eq-bg-color: #1991ff;
  --eq-color: #b2daff;
  --btn-color: #109dff;
  --btn-bg-color: #303136;
  --btn-bg-lt-color: #fff;
  --hover-color: #005db2;
  --hover-lt-color: #ade2ff;
  --body-color: linear-gradient(191.34deg, #17181a -4.95%, #17181a 103.74%);
  --body-lt-color: #f7f8fb;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(218, 240, 255, 1);
}
.circle {
  position: absolute;
  top: 10px;
  left: 20%;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: var(--eq-color);
}
ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 33%;
  top: 50%;
  width: 100%;
  height: 100%;
}
ul li {
  list-style: none;
  width: 30px;
  margin-bottom: 10px;
}
a img {
  width: 100%;
}
h2 {
  position: absolute;
  top: 100px;
  left: 50px;
  color: var(--btn-bg-color);
  font-size: 40px;
}
.calc {
  position: relative;
  width: 350px;
  background: var(--body-color);
  border-radius: 39px;
  box-shadow: -3px 5px 40px var(--btn-bg-color);
  transition: 0.5s;
}
body.dark .calc {
  background: var(--body-lt-color);
}
.switch {
  position: absolute;
  left: 30px;
  top: 30px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.switch:hover {
  color: var(--btn-color);
}
body.dark .switch {
  color: var(--btn-color);
}
.display {
  text-align: right;
  height: 200px;
  line-height: 150px;
  padding: 40px 30px 0;
  color: #fff;
  font-size: 25px;
}
body.dark .display {
  color: #424242;
}
.buttons {
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.button {
  width: 62px;
  height: 62px;
  background-color: var(--btn-bg-color);
  line-height: 62px;
  border-radius: 16px;
  text-align: center;
  font-size: 20px;
  color: var(--btn-color);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.button:first-child {
  color: #fff;
}
body.dark .button:first-child {
  color: #424242;
}
.button:last-child {
  background-color: var(--eq-bg-color);
  color: var(--eq-color);
}
.button:hover {
  background-color: var(--hover-color);
  color: #fff;
}

body.dark .button {
  background-color: var(--btn-bg-lt-color);
}
body.dark .button:hover {
  background-color: var(--hover-lt-color);
}
body.dark .button:last-child {
  background-color: var(--btn-color);
}
